body{
font-family:Arial;
background:#fafafa;
margin:0;
}

header{
display:flex;
justify-content:space-between;
padding:15px;
background:white;
border-bottom:1px solid #ddd;
}

.createPost{
padding:20px;
background:white;
}

.post{
width:500px;
margin:20px auto;
background:white;
border:1px solid #ddd;
padding:10px;
}

.post img{
width:100%;
border-radius:5px;
}

.login{
width:300px;
margin:100px auto;
text-align:center;
}

.login input{
width:100%;
padding:10px;
margin:10px 0;
}

.msg{
padding:5px;
border-bottom:1px solid #eee;
}
.message{
margin:5px 0;
}
